<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="/static/vue.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        div, a, span, section, input, body, html, body{
            margin: 0;
            padding: 0;
        }
        html, body {
            height: 100%;
        }
        .main {
            float:left;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
{% include 'side.html' %}
<div class="main">
    {% block body %}{% endblock %}
</div>
</body>

</html>